// SASS - Easy

$primary-color: #3498db;

*.container {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 20px 0;
}

// TODO: Implement the Container class, do not change the code above
